body{
    background-color: #fff !important;
}
.wam-body,
.wam-dashboard {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.wam-signup-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgba(244, 245, 248, 0.2);
}

@media (min-width: 992px) {
    .wam-signup-wrapper {
        justify-content: flex-end;
    }
    .wam-signup-header{
        padding: 0 25%;
    }
}

.wam-column-signup-left {
    width: 45% !important;
    padding: 40px 3% !important;
}

.wam-column-signup-right {
    min-width: 60%;
    padding: 40px 3% !important;
}

.set-background-image{
    background-image: linear-gradient(#234153c7, rgba(47, 71, 85, 0.8)), url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.wam-column-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .wam-column-signup {
        padding: 40px 10%;
    }
}

@media (min-width: 992px) {
    .wam-column-signup {
        border-left: 1px solid #cdd4e0;
    }
}

.wam-signup-wrapper .red-mark {
    content: " ";
    text-align: left !important;
    width: 30px;
    height: 15px;
    background: var(--danger) 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

/* this is for mobile view */
.mobile-navbar{
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .wam-column-signup-left {
        display: none !important;
    }
    .wam-column-signup-right{
        width: 90%;
    }
    .wam-signup-wrapper{
        background-image: linear-gradient(#234153c7, rgba(47, 71, 85, 0.8)), url('/assets/images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
    .text-secondary{
        color: var(--disable) !important;
    }
    .desktop-navbar{
        display: none;
    }
    .mobile-navbar{
        display: flex !important;
    }
}
